* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.navigacija {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #0E2954;
	color: #fff;
}
.nav-links {
	display: flex;
}
.nav-links a {
	color: #fff;
	padding: 0em 1em;
	transition: all 0.2s ease 0s;
}
.nav-links a:hover {
	background-color: #4F709C;
	padding: 0.5em 1.5em;
	border-radius: 10px;
}
.container {
    width: 80%;
    margin: 2em auto;
	position: relative;
}
.istorija {
	background-size: cover;
	color: #fff;
	padding: 2em;
	border-radius: 10px;
	width: 70%;
	margin-top: 8em;
	margin-left: 2em;
}
.istorija p {
	margin: 1em 0em;
	line-height: 1.5em;
}
.geografija {
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffff;
	height: 50vh;
	border-radius: 10px;
	margin: 2em 0;
	width: 70%;
	padding: 2em;
	position: relative;
	left: 25%;
}
.geografija p {
	margin: 1em 0em;
	line-height: 1.5em;
}
.turizam {
	border-radius: 10px;
	color: black;
	width: 80%;
	margin-left: 2em;
}
.turizam1, .turizam2 {
	border-radius: 10px;
}
.turizam2 {
	margin-top: 1em;
}
.slike {
	margin-top: 2em;
}
.slike img {
	transition: all 0.2s ease-in 0s;
	border-radius: 10px;
}
.slike img:hover {
	transform: scale(1.05);
}
.footer {
	margin-top: 3em;
	background-color: #0F2C59;
	height: 150px;
	color: #fff;
	padding: 1em;
	display: flex;
	justify-content: space-around;
}
.footer h2 {
	font-size: 25px;
}
.kontakt {
	align-items: center;
}
.ostalo a {
	color: #fff;
	transition: all 0.3s ease 0s;
}
.ostalo a:hover {
	background-color: #4F709C;
	padding: 0.3em;
	border-radius: 10px;
}
.ostalo li {
	margin-top: 0.5em;
}
.autor {
	background-color: #0F2C59;
	color: #fff;
	text-align: center;
}
.autor h2 {
	font-size: 25px;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s;
}

.appear {
    opacity: 1;
}